<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Humanworthy</title>
    <link rel="stylesheet" type="text/css" href="{% static "/Bootstrap/css/bootstrap.css" %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container center">
            <button class="btn btn-primary btn-sm" >Get New Paper</button>
            <button class="btn btn-primary btn-sm" >Following</button>
        </div>
    </nav>
{% block content %}
{% endblock %}
<p></p>
<p></p>
<p></p>
<p></p>
</body>
</html>